body {
    margin: 5px;
}

h1 {
    margin-left: 2cm;
}

textarea {
    width: 40em;
    height: 10em;
    margin: 5px;
}

input {
    margin: 5px;
}

td {
    vertical-align: top;
}

td label::after {
    content: ":";
}

figure {
	float: left;
	margin: 15px;
	padding: 15px;
	border: 1px solic #ccc;
}