<!DOCTYPE html>
<html>
    <body>
        {% block navigation %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <ul>
            <li><a href="{{ url_for('register') }}" >Cadastre-se</a></li>
            <li><a href="{{ url_for('login') }}" >Entre</a></li>
            <li><a href="{{ url_for('upload_image')}}">Subir fotos</li>
            <li>Navegar</li>
            <li><a href="{{ url_for('logout') }}" >Sair</a></li>
        </ul>
        {% endblock %}
        {% if current_user.is_authenticated() %}
            <span class="userid">Logado como <strong> {{current_user.id }}</strong></span>
        {% endif %}

        {% block content %}
            Template base
        {% endblock %}

        <footer>
            <p>Copyright 2015 - João S. O. Bueno</p>
            <p>Feito com <a href="http://flask.pocoo.org/">Flask</a></p>
        </footer>
    </body>
</html>
