{% extends "bootstrap/base.html" %}

    {% block head %}
    {{super()}}
    <link href="static/photolog.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block navbar %}
    <div class="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('register') }}" >Cadastre-se</a></li>
                <li><a href="{{ url_for('login') }}" >Entre</a></li>
                <li><a href="{{ url_for('upload_image') }}">Subir fotos</a></li>
                <li><a href="{{ url_for('browse') }}">Navegar</a></li>
                <li><a href="{{ url_for('logout') }}" >Sair</a></li>
            </ul>
        {% if current_user.is_authenticated() %}
            <span class="userid navbar-text">Logado como <strong> {{current_user.id }}</strong></span>
        {% endif %}
    </div>
    {% endblock %}
    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        {% block photolog_content %}
            Template base
        {% endblock %}
    {% endblock %}

    <footer>
        <p>Copyright 2015 - João S. O. Bueno</p>
        <p>Feito com <a href="http://flask.pocoo.org/">Flask</a></p>
    </footer>
