<!DOCTYPE html>
<html>
    <body>
        {% block navigation %}
        <ul>
            <li>Cadastre-se</li>
            <li>Entre</li>
            <li>Subir fotos</li>
            <li>Navegar</li>
            <li>Sair</li>
        </ul>
        {% endblock %}

        {% block content %}
            Template base
        {% endblock %}

        <footer>
            <p>Copyright 2015 - João S. O. Bueno</p>
            <p>Feito com <a href="http://flask.pocoo.org/">Flask</a></p>
        </footer>
    </body>
</html>
